:root {
  --navy: #3a4352;
  --gold: #feb41c;
  --footer: #4b5f6d;
  --highlight: #264c85;
  --light-grey: #f3f3f3;
  --light-blue: #d2d6d9;
  --white: #fff;
  --black: #000;
  --dark-text: #6d6d6d;
  --main-heading: "franklin-gothic-urw", "arial", sans-serif;
  --open-sans: "open-sans", "arial", sans-serif;
  --hero-heading: "adobe-caslon", "orpheus", "times new roman";
  --links: "adobe-caslon",
    "orpheus",
    "times new roman";
  --futura: "futura PT";
}

/* global styles
--------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--light-grey);
  color: var(--dark-text);
  font-family: var(--open-sans);
  font-size: 1rem;
  margin: 0;
}

/* header
--------------------*/
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: 2rem;
  color: white;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-wrapper {
  width: 100%;
  background-color: var(--navy);
  position: sticky;
  top: 0;
}

.header-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  width: 220px;
  margin: 0;
}

.logo img {
  width: 220px;
}

nav.menu {
  display: none;
}

.mobile-container {
  background-color: var(--navy);
}

.mobile-menu {
  background-color: var(--navy);
  font-family: var(--links);
  margin: 0 auto;
  display: none;
  justify-content: space-between;
  width: 85%;
}

.mobile-menu ul {
  margin: 0;
  padding: 0 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
}

.mobile-menu ul li {
  font-size: 1.375rem;
}

.mobile-menu ul li a {
  color: white;
}

#icon-list {
  align-items: center;
}

.social-media {
  font-size: 2rem;
  /* margin-bottom: 0.5rem; */
}

#hamburger-menu {
  cursor: pointer;
}

/* main
--------------------*/
.content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.main-section {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

section {
  width: 100%;
  margin: 0 auto;
}

/* breadcrumb */
.breadcrumb {
  width: 100%;
  height: 3rem;
  padding: 1rem 0 0 5%;
  font-size: 0.875rem;
  background-color: var(--white);
  /* background-color: pink; */
}

.breadcrumb div a {
  color: var(--navy);
  border-bottom: 1px solid transparent;
  transition-property: border-bottom;
  transition-duration: 0.3s;
}

.breadcrumb div a:hover {
  border-bottom: 1px solid var(--navy);
}

.arrow {
  color: var(--navy);
  font-size: 0.875rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.current {
  font-weight: bold;
  color: var(--navy);
}

/* headline wrapper */
.line-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
  /* background-color: pink; */
}

.line-wrapper div:nth-child(1) {
  margin-right: 1rem;
  flex: 1;
  height: 1px;
  background: -webkit-linear-gradient(right, #ccc 0%, #ccc 25%, #fff 100%);
}

.line-wrapper div:nth-child(3) {
  flex: 1;
  margin-left: 1rem;
  height: 1px;
  background: -webkit-linear-gradient(left, #ccc 0%, #ccc 75%, #fff 100%);
}

.line-wrapper div:nth-child(5) {
  flex: 1;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 1px;
  background: -webkit-linear-gradient(left, #ccc 0%, #ccc 75%, #fff 100%);
}

hr {
  background-color: #ccc;
  border: none;
}

.section-heading {
  font-family: var(--main-heading);
  color: var(--black);
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.post-heading {
  font-family: var(--links);
  color: var(--navy);
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding: 1rem 0 0.25rem 0;
  text-decoration: underline;
}

/* aside */
aside {
  /* color: var(--navy); */
  background-color: var(--light-grey);
  min-height: 100%;
}

.aside-container {
  width: 85%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3rem;
}

.aside-container:first-child {
  margin-top: 1rem;
}

.aside-container p {
  text-align: left;
}

.aside-heading {
  font-family: var(--main-heading);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--light-blue);
  color: var(--navy);
  text-align: center;
  padding: 0.75rem;
  margin: 2rem 0 1rem 0;
}

.about-image {
  width: 125px;
  margin-left: 0;
  transition: opacity 0.5s;
}

.about-image:hover {
  opacity: 0.8;
}

.about-image img {
  width: 125px;
  border-radius: 5px;
}

.aside-text {
  max-width: 400px;
  color: var(--navy);
}

#read-more {
  display: block;
  font-family: var(--links);
  color: var(--highlight);
  text-decoration: underline;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

.aside-input {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--light-grey);
  margin: 0 auto 3rem auto;
  padding: 3rem 7.5%;
}

.contact-input {
  display: flex;
  flex-direction: column;
}

.input {
  color: var(--navy);
  padding: 0.5rem;
  border: 3px solid var(--light-blue);
  outline: none;
  border-radius: 0;
}

.input:focus {
  border-color: var(--gold);
}

input[placeholder] {
  font-size: 1rem;
}

label {
  font-size: 1rem;
  /* font-weight: bold; */
  text-align: left;
  color: var(--navy);
  margin-bottom: 3px;
}

.error-message {
  text-align: left;
  color: #be3e35;
}

.error-message:before {
  content: "\002A";
}

#email-error {
  visibility: hidden;
}

.button {
  font-family: var(--links);
  font-size: 1.125rem;
  background-color: var(--gold);
  color: black;
  /* text-decoration: underline; */
  border: none;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  border-radius: 5px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: opacity, box-shadow;
  transition-duration: 0.5s;
  opacity: 1;
  cursor: pointer;
}

.button:hover {
  opacity: 0.75;
  box-shadow: none;
}

#subscribe-button {
  background-color: var(--navy);
  color: white;
  font-size: 1.125rem;
  margin: 0.75rem 50% 0 0;
}

#subscribe-message {
  color: green;
  margin: 0;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}

#subscribe-message:before {
  content: "\2713";
  font-size: 1.5rem;
  margin-right: 3px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.aside-list {
  font-family: var(--links);
  color: var(--highlight);
  text-align: left;
  font-size: 1.125rem;
  /* margin-left: 0.5rem; */
  padding-left: 0;
  text-decoration: underline;
}

.aside-list li {
  padding-bottom: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.dropdown {
  max-width: 350px;
  margin-bottom: 3rem;
  text-align: left;
}

#categories,
#archive {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--white);
  color: var(--navy);
  border: 3px solid var(--light-blue);
  margin-top: 3px;
  margin-left: 0;
}

#categories:focus,
#archive:focus {
  border-color: var(--gold);
}

#search-form {
  position: relative;
}

#search-icon {
  position: absolute;
  font-size: 1.125rem;
  color: var(--navy);
  top: 35px;
  left: 0.5rem;
}

input[type="search"] {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

/* loading styles */
.error {
  color: white;
  font-size: 1.25rem;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #be3e35d9;
  border: 8px solid #be3e35;
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
  padding: 40px;
  border-radius: 10px;
}

.spinner {
  border: 6px solid var(--light-blue);
  border-top: 6px solid transparent;
  margin: 0 auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* info container */
.info-container {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  color: var(--footer);
  padding: 0.25rem 0 0.375rem 0;
  font-family: var(--main-heading);
  /* text-transform: uppercase; */
}

.info-container p {
  /* color: var(--navy); */
  color: gray;
  padding: 0;
  margin: 0;
  /* font-size: 0.875rem; */
}

.info:after {
  content: "|";
  padding-left: 5px;
  padding-right: 5px;
}

/* gradient border */
#gradient-border {
  border-bottom: none;
  position: relative;
}

#gradient-border:after {
  content: "";
  background: -webkit-linear-gradient(
    left,
    #fff 0%,
    #ccc 25%,
    #ccc 75%,
    #fff 100%
  );
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

/* footer
--------------------*/
footer {
  background-color: var(--footer);
  color: var(--white);
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 0.25rem;
}

.footer-container span {
  margin: 0;
  padding: 0;
}

.footer-divider {
  display: none;
}

.fa-copyright {
  font-size: 1.5rem;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  /* main
--------------------*/
  .form {
    border-radius: 10px;
    padding: 3rem 10%;
  }

  /* aside */
  .aside-container {
    width: 70%;
  }
  
  .footer-container {
    flex-direction: row;
    gap: 0.5rem;
  }

  .footer-divider {
    display: inline;
  }
}

@media only screen and (min-width: 768px) {
  /* main
--------------------*/
  section {
    width: 90%;
  }

  .form {
    padding: 3rem 15%;
  }

  .button {
    font-size: 1.25rem;
  }

  /* aside */
  /* aside {
    width: 100%;
  } */

  .aside-container {
    width: 85%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  section {
      width: 85%;
    }

  .form {
    padding: 3rem 20%;
  }

  .aside-container {
    width: 75%;
    gap: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  /* header
--------------------*/
  .mobile-container {
    display: none;
  }

  .logo {
    width: 250px;
  }

  .logo img {
    width: 250px;
  }

  #hamburger-menu {
    display: none;
  }

  nav.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 4rem;
    justify-content: space-between;
    align-items: center;
  }

  ul.menu {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;

    /* margin-top: 0.5rem; */
    margin: 0;
    padding: 0;
    font-family: var(--links);
    font-size: 1.375rem;
  }

  ul.media {
    display: flex;
    gap: 1.5rem;
    /* margin-top: 0.5rem; */
    margin: 0;
    padding: 0;
  }

  .menu-item {
    color: var(--white);
    border-bottom: 2px solid transparent;
    transition-property: color border-bottom;
    transition-duration: 0.3s;
  }

  .current-page {
    border-bottom: 2px solid white;
  }

  .menu-item:hover {
    color: var(--gold);
    border-bottom: 2px solid var(--gold);
  }
  
  .social-media {
    transition-property: color;
    transition-duration: 0.3s;
  }

  .social-media:hover {
    color: var(--gold);
  }

  .breadcrumb {
    /* width: 75%; */
    font-size: 1rem;
    padding-left: 3.3333333%;
  }
  /* main
--------------------*/
  .content-wrapper {
    /* width: 100%; */
    flex-direction: row;
    margin: 0 auto;
  }

  .main-section {
    flex: 2;
    padding-top: 1rem;
  }
  
  .line-wrapper {
    /* width: 90%; */
    /* margin-left: 2rem;
    margin-right: 2rem; */
  }

  .arrow {
    color: var(--navy);
    font-size: 1rem;
  }

  .button {
    font-size: 1.375rem;
  }

  .section-heading {
    font-size: 2rem;
  }

  .post-heading {
    font-size: 1.375rem;
  }

  .form {
    gap: 1.25rem;
  }

  /* aside */
  aside {
    /* width: 70%; */
    flex: 1;
    margin: -3rem auto 0 auto;
  }

  .aside-container {
    width: 90%;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    gap: 0;
  }

  .aside-container:first-child {
    margin-top: 2rem;
  }

  .aside-heading {
    font-size: 1.25rem;
  }

  #read-more {
    font-size: 1.25rem;
  }

  footer p {
    font-size: 1.125rem;
  }

  .aside-list {
    font-size: 1.25rem;
  }

  #subscribe-button {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1600px) {
  /* nav.menu {
    flex-direction: row;
    align-items: center;
  } */

  .breadcrumb {
    width: 85%;
    margin: 0 5%;
  }

  .content-wrapper {
    width: 90%;
  }

  section {
    width: 70%;
  }

  .line-wrapper {
    /* width: 70%; */
    /* margin: 0 auto 1rem auto; */
  }

  .post-heading {
    font-size: 1.5rem;
  }

  .info-container p {
    font-size: 1.125rem;
  }

  .social-media {
    font-size: 2rem;
  }

  .main-section {
    flex: 3;
  }

  .section-heading {
    font-size: 2.25rem;
  }
}

@media only screen and (min-width: 1800px) {
  section {
    width: 65%;
  }
}
