:root {
  --navy: #3a4352;
  --gold: #feb41c;
  --teal: #4b5f6d;
  --highlight: #5e7c88;
  --light-grey: #f3f3f3;
  --light-blue: #d2d6d9;
  --beige: #fff8f0;
  --white: #fff;
  --black: #000;
  --century-gothic: "century gothic";
  --open-sans: "open sans";
  --adobe-caslon: "adobe caslon pro regular";
  --proxima-nova: "proxima nova";
  --center: 0 auto 0 auto;
}

/* global styles
--------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--white);
  color: var(--white);
  font-family: var(--open-sans);
  font-size: 1rem;
  width: 100%;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
i {
  font-size: 2rem;
  color: white;
}
header {
  position: sticky;
  top: 0;
}
.header-wrapper {
  width: 100%;
  background-color: var(--navy);
  position: sticky;
  top: 0;
}
.header-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.logo {
  width: 220px;
  margin: 0;
}
.logo img {
  width: 220px;
}
nav.menu {
  display: none;
}
.mobile-container {
  display: flex;
  display: block;
  flex-direction: column;
  background-color: var(--navy);
}
.mobile-menu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.mobile-menu ul {
  margin-top: 0.5rem;
  padding: 0;
}
.mobile-menu ul li {
  padding-top: 0.5rem;
  font-size: 1.125rem;
}
.mobile-menu ul li a {
  color: white;
}
.social-media {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* main
--------------------*/
/* breadcrumb */
.breadcrumb {
  width: 85%;
  margin: 1rem auto;
  font-size: 0.875rem;
}
.breadcrumb div {
  color: var(--navy);
}
.arrow {
  color: var(--navy);
  font-size: 0.875rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.current {
  font-weight: bold;
  color: var(--navy);
}
/* headline wrapper */
.line-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.line-wrapper div:nth-child(1) {
  /* background-color: blue; */
  margin-right: 10px;
  flex: 1;
}
.line-wrapper div:nth-child(3) {
  /* background-color: blue; */
  flex: 7;
  margin-left: 10px;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}
/* aside */
aside {
  color: var(--navy);
  background-color: var(--light-grey);
  border-radius: 0 20px 20px 0;
}
.aside-container {
  width: 85%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  gap: 2rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}
.aside-container p {
  text-align: left;
}
h5 {
  font-family: var(--century-gothic);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--light-blue);
  text-align: center;
  padding: 10px;
}
.about-image {
  width: 200px;
  margin-left: 0;
}
.about-image img {
  width: 200px;
  border-radius: 10px;
}
#personal-info {
  max-width: 300px;
}
#read-more {
  display: block;
  font-family: var(--adobe-caslon);
  text-decoration: underline;
  font-size: 1.125rem;
  margin-top: 0;
  padding-top: 0;
  /* padding-bottom: 28px; */
}
.aside-input {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 0.5rem;
  border: 2px solid gray;
  border-radius: 5px;
}
input[placeholder] {
  font-size: 1rem;
  color: grey;
}
label {
  font-size: 1rem;
  text-align: left;
  color: black;
}
.error-message {
  font-size: 0.875rem;
  text-align: left;
  color: red;
}
.error-message:before {
  content: "\002A";
}
.button {
  font-family: var(--adobe-caslon);
  font-size: 1.25rem;
  background-color: var(--gold);
  text-decoration: underline;
  border: none;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 0 3px 6px #00000029;
  transition-property: opacity, box-shadow;
  transition-duration: 0.5s;
  opacity: 1;
  cursor: pointer;
}
button:hover {
  opacity: 0.75;
  box-shadow: none;
}
.subscribe-message {
  color: green;
}
.subscribe-message:before {
  content: "\2713";
  font-size: 2rem;
  margin-right: 3px;
}
.post-list {
  font-family: var(--adobe-caslon);
  text-align: left;
  font-size: 1.25rem;
  margin-left: 0;
  padding-left: 0;
  text-decoration: underline;
}
.post-list li {
  padding-bottom: 10px;
  list-style-type: disc;
  margin-left: 20px;
}
.dropdown {
  width: 100%;
}
#categories,
#archive {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--white);
  border: 2px solid grey;
  border-radius: 5px;
}

/* footer
--------------------*/
footer {
  background-color: #4b5f6d;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0;
}
footer div {
  padding: 1rem;
}
footer p {
  margin: 0;
}
.far {
  font-size: 2rem;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {
  aside {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  /* main
--------------------*/
  /* aside */
  aside {
    width: 100%;
  }
  .aside-container {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    gap: 4rem;
  }
  h5 {
    font-size: 1.25;
  }
}
@media only screen and (min-width: 1200px) {
  /* header
--------------------*/
  .mobile-container {
    display: none;
  }
  .logo {
    width: 360px;
  }
  .logo img {
    width: 360px;
  }
  nav.hamburger-menu {
    display: none;
  }
  nav.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  ul.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  ul.media {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .menu li {
    margin-left: 3rem;
  }
  .menu li a,
  .media li a i {
    color: var(--white);
    transition-property: color;
    transition-duration: 0.5s;
  }
  .menu li a:hover,
  .media li a i:hover {
    color: var(--gold);
  }

  /* main
--------------------*/
  .breadcrumb {
    font-size: 1rem;
  }
  .arrow {
    color: var(--navy);
    font-size: 1rem;
  }
  /* aside */
  aside {
    margin-left: 2rem;
  }
  .aside-container {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
  aside {
    flex: 1;
  }
}
@media only screen and (min-width: 1600px) {
  nav.menu {
    flex-direction: row;
    align-items: center;
  }
}
