:root {
  --navy: #3a4352;
  --gold: #feb41c;
  --teal: #4b5f6d;
  --highlight: #5e7c88;
  --light-grey: #f3f3f3;
  --light-blue: #d2d6d9;
  --beige: #fff8f0;
  --white: #fff;
  --black: #000;
  --century-gothic: "century gothic";
  --open-sans: "open sans";
  --adobe-caslon: "adobe caslon pro regular";
  --proxima-nova: "proxima nova";
  --center: 0 auto 0 auto;
}
