@import "./imports/common_styles.css";

/* main
--------------------*/
main {
  background-color: var(--light-grey);
}

/* .content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
} */

/* .about-wrapper {
  width: 100%;
  margin: 0 auto;
} */

section {
  width: 100%;
  margin: 0 auto;
  /* padding-top: 2rem; */
}

/* section a {
  margin-top: 2rem;
} */

/* .line-wrapper {
  margin-bottom: 1rem;
} */

.post-title {
  font-family: var(--main-heading);
  color: var(--navy);
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.post-container {
  width: 100%;
  /* color: var(--black); */
  margin: 0 auto;
}

.post-image {
  width: 100%;
  margin: 0;
}

figcaption {
  display: block;
  margin-bottom: 1rem;
}

/* h2 {
  font-family: var(--futura);
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
} */

/* .post-text {
  min-width: 306px;
} */

blockquote {
  font-family: var(--main-heading);
  font-weight: 600;
  font-size: 1.125rem;
  font-style: italic;
  /* color: var(--navy); */
  border-left: 3px solid var(--light-blue);
  padding-left: 1rem;
  margin: 2rem 1rem 2rem 1rem;
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.bottom-wrapper figure {
  margin: 0;
  width: 306px;
}

.bottom-wrapper figure img {
  margin: 0;
  padding-bottom: 1.5rem;
  width: 306px;
}

.bottom-wrapper div p {
  display: block;
  margin: 0;
  padding-bottom: 1rem;
}

#bold-text {
  font-weight: bold;
}

.dividing-line {
  margin: 3rem 10px;
  height: 1px;
  background: -webkit-linear-gradient(
    left,
    #fff 0%,
    #ccc 15%,
    #ccc 85%,
    #fff 100%
  );
}

hr {
  background-color: #ccc;
  border: none;
}

/* JS converted heading */
/* h3 {
  font-family: var(--main-heading);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--light-blue);
  text-align: center;
  padding: 10px;
  margin: 25px 0 1rem 0;
} */

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  /* .about-wrapper {
    width: 90%;
  } */

  section {
    width: 90%;
  }

  /* h1 {
    font-size: 1.5rem;
  } */

  /* .post-image {
    width: 524px;
    height: 349px;
  } */

  .post-title {
    font-size: 1.5rem;
  }

  /* .post-text {
    min-width: 524px;
  } */

  /* JS converted heading */
  /* h3 {
    font-size: 1.25rem;
  } */

  .bottom-wrapper {
    flex-direction: row;
    margin-bottom: 3rem;
    align-items: flex-start;
  }

  .bottom-wrapper figure {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  section {
      width: 85%;
  }
}

@media only screen and (min-width: 1200px) {
  /* h1 {
    font-size: 1.75rem;
  } */

  /* .content-wrapper {
    width: 90%;
    flex-direction: row;
    margin: 0 auto;
  } */

  /* .about-wrapper {
    flex: 2;
  } */

  .post-title {
    font-size: 1.75rem;
  }

  .post-text {
    font-size: 1.125rem;
  }

  blockquote {
    font-size: 1.25rem;
  }

  .bottom-wrapper p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1600px) {
  /* .line-wrapper {
    width: 100%;
  } */

  /* h1 {
    font-size: 1.875rem;
  } */

  /* .about-wrapper {
    flex: 3;
  } */

  section {
    width: 70%;
  }

  .post-title {
    font-size: 2rem;
  }

  /* .post-image {
    width: 720px;
    height: 480px;
  } */

  /* .post-text {
    min-width: 720px;
  } */
}

@media only screen and (min-width: 1800px) {
  section {
    width: 65%;
  }
}
