@import "./imports/common_styles.css";

/* main
--------------------*/
main {
  background-color: var(--light-grey);
}

/* section {
  width: 100%;
  margin: 0 auto;
} */

.post-title {
  font-family: var(--main-heading);
  color: var(--navy);
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.post-container {
  width: 100%;
  margin: 0 auto;
}

.post-image {
  width: 100%;
  margin: 0;
}

figcaption {
  display: block;
  margin-bottom: 1rem;
}

blockquote {
  font-family: var(--main-heading);
  font-weight: 600;
  font-size: 1.125rem;
  font-style: italic;
  /* color: var(--navy); */
  border-left: 3px solid var(--light-blue);
  padding-left: 1rem;
  margin: 2rem 1rem 2rem 1rem;
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.bottom-wrapper figure {
  margin: 0;
  width: 306px;
}

.bottom-wrapper figure img {
  margin: 0;
  padding-bottom: 1.5rem;
  width: 306px;
}

.bottom-wrapper div p {
  display: block;
  margin: 0;
  padding-bottom: 1rem;
}

#bold-text {
  font-weight: bold;
}

.dividing-line {
  margin: 3rem 10px;
  height: 1px;
  background: -webkit-linear-gradient(
    left,
    #fff 0%,
    #ccc 15%,
    #ccc 85%,
    #fff 100%
  );
}

hr {
  background-color: #ccc;
  border: none;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  
  /* section {
    width: 90%;
  } */

  .post-title {
    font-size: 1.5rem;
  }

  .bottom-wrapper {
    flex-direction: row;
    margin-bottom: 3rem;
    align-items: flex-start;
  }

  .bottom-wrapper figure {
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  /* section {
      width: 85%;
  } */
}

@media only screen and (min-width: 1200px) {

  .post-title {
    font-size: 1.75rem;
  }

  .post-text {
    font-size: 1.125rem;
  }

  blockquote {
    font-size: 1.25rem;
  }

  .bottom-wrapper p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1600px) {
  
  /* section {
    width: 70%;
  } */

  .post-title {
    font-size: 2rem;
  }
}

/* @media only screen and (min-width: 1800px) {
  section {
    width: 65%;
  }
} */
