@import "imports/common_styles.css";

/* main
--------------------*/

.content-wrapper {
  display: flex;
  flex-direction: column;
}
section {
  width: 85%;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
}
section a {
  margin-top: 2rem;
}
h1 {
  font-family: var(--century-gothic);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
}
h2 {
  font-family: var(--adobe-caslon);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.post-text {
  /* max-width: 400px; */
}
.post-container {
  /* max-width: 306px; */
  color: var(--black);
  margin: 0 auto;
}
.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 100%;
}
em {
  font-family: var(--century-gothic);
  font-weight: 500;
}
figcaption {
  display: block;
  margin-bottom: 1rem;
}
/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  section {
  }
  h1 {
    font-size: 1.375rem;
  }
  h2 {
    font-size: 1.375rem;
  }
  .post-container {
    /* max-width: 524px; */
  }
  .post-image {
    width: 524px;
    height: 324px;
  }
  .post-text {
    /* max-width: 500px; */
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 85%;
    flex-direction: row;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
  section {
    flex: 2;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .post-text {
    /* max-width: 600px; */
  }
}
@media only screen and (min-width: 1600px) {
  section {
    flex: 3;
  }
  .post-container {
    width: 70%;
  }
  .post-text {
  }
}
