@import "./imports/common_styles.css";

/* main
--------------------*/
main {
  background-color: var(--light-grey);
}

.main-section {
  width: 100%;
}

textarea {
  height: 200px;
  font-family: var(--body-text);
  font-size: 1rem;
}

#name-error,
#subject-error,
#contact-email-error,
#message-error {
  display: none;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 576px) {

  .main-section {
    width: 85%;
  }
}
