@import "./imports/common_styles.css";

/* main
--------------------*/
main {
  margin: 0 auto;
}

.main-container {
  background: url("../images/main_background_image.jpg") no-repeat center bottom;
  background-size: cover;
  margin-top: 0;
  text-align: center;
  height: 620px;
  position: relative;
}

.main-heading {
  margin: 4rem 10% 0 10%;
  display: inline-block;
}

.main-heading-bg {
  background-color: white;
  margin-bottom: 1rem;
}

.main-heading p {
  display: block;
  text-align: right;
  color: var(--header);
  padding: 0 1rem;
  margin-top: 0.5rem;
}

strong {
  text-transform: uppercase;
}

h1 {
  background-color: var(--accent);
  font-family: var(--hero-heading);
  font-size: 1.625rem;
  font-weight: 400;
  color: var(--white);
  display: inline-block;
  margin: 0;
  padding: 1rem 2rem;
  border-radius: 3px;
  box-shadow: 0 6px 12px #00000029;
}

.quote-wrapper {
  background-color: #00000066;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}

.quote {
  /* margin: 0 auto; */
  color: var(--white);
  font-family: var(--main-heading);
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.quote p {
  display: block;
  margin: 0;
  padding: 0;
  font-style: italic;
}

.quote p:nth-child(1):before {
  content: "\201D";
  font-size: 2rem;
  font-weight: bold;
  padding-right: 0.25rem;
}

.quote p:nth-child(2) {
  /* font-family: var(--open-sans); */
  font-style: normal;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  /* color: black; */
}

h4 {
  font-family: var(--futura);
  font-weight: 800;
  margin: 0;
  padding: 0 0 0.25rem 0;
  text-decoration: underline;
}

.featured:first-child {
  margin-top: 2rem;
}

.feature-wrapper {
  width: 100%;
  margin: 0 auto;
}

.feature-image {
  margin: 0;
  width: 100%;
  transition: opacity 0.5s;
}

.feature-image:hover {
  opacity: 0.9;
}

.feature-heading {
  font-family: var(--links);
  color: var(--header);
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding: 1rem 0 0.25rem 0;
  text-decoration: underline;
}

.feature-text p {
  margin: 0.25rem 0 1.5rem 0;
  padding: 0;
}

.slideshow-wrapper {
  width: 100%;
}

.slideshow-container {
  width: 100%;
  margin: 0 auto;
}

.slideshow {
  overflow: hidden;
}

.post-wrapper {
  /* height: 100%; */
  width: 800%;
  transition: all 0.3s;
  display: flex;
}

.post-container {
  flex-basis: 100%;
  display: flex;
}

#post-divider {
  border: none;
}

#heading-line {
  border: 1px solid #ccc;
}

.post-image {
  display: block;
  width: 100%;
  margin: 0;
  transition: opacity 0.5s;
}

.post-image:hover {
  opacity: 0.9;
}

.post-text {
  display: none;
}

.post-link {
  text-align: center;
  margin: 6rem auto 3rem auto;
}

/* overrides styles in common-styles */

.card {
  background-color: var(--light-grey);
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  /* border-radius: 0 0 3px 3px;  */
}

.post-heading {
  font-size: 1.125rem;
}

.card-info {
  justify-content: center;
}

.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--header);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.selected {
  background-color: var(--header);
}

.previous,
.next {
  cursor: pointer;
}

.fa-chevron-circle-left {
  font-size: 2rem;
  margin-right: 0.75rem;
  color: var(--header);
}

.fa-chevron-circle-right {
  font-size: 2rem;
  margin-left: 0.75rem;
  color: var(--header);
}

.line-left {
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(right, #ccc 0%, #ccc 25%, #fff 100%);
}

.line-right {
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(left, #ccc 0%, #ccc 75%, #fff 100%);
}

/* overrides common style */
#gradient-border:after {
  height: 0;
}

/* styles that change
--------------------*/

@media only screen and (min-width: 576px) {
  .main-container {
    height: 954px;
  }

  .feature-wrapper {
    width: 90%;
  }

  .slideshow-container {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    height: 900px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .feature-wrapper {
    width: 85%;
  }

  .slideshow-container {
    width: 100%;
  }

  .post-wrapper {
    width: 400%;
  }

  .post-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .arrow-wrapper {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .main-container {
    height: 660px;
  }

  .feature-wrapper {
    width: 70%;
  }

  .main-heading {
    margin-top: 6rem;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    background-color: var(--light-grey);
  }

  .main-container {
    height: 720px;
  }

  h1 {
    font-size: 3.75rem;
  }

  .main-heading p {
    font-size: 1.375rem;
  }

  .quote p {
    font-size: 1.375rem;
  }

  .quote p:nth-child(1):before {
    font-size: 3rem;
  }

  .quote p:nth-child(2) {
    font-size: 1.25rem;
  }

  .content-container {
    width: 66.66666667%;
  }

  h4 {
    font-size: 1.375rem;
  }

  .feature-wrapper {
    width: 85%;
  }

  .feature-heading {
    font-size: 1.375rem;
  }

  .feature-text {
    font-size: 1.125rem;
  }

  /*aside*/
  .aside-container:first-child {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1600px) {
  .main-container {
    height: 965px;
  }

  .main-heading {
    margin-top: 8rem;
  }

  .content-container {
    width: 70%;
  }

  h4 {
    font-size: 1.5rem;
  }

  .feature-wrapper {
    width: 75%;
  }

  .feature-heading {
    font-size: 1.5rem;
  }

  .post-heading {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1900px) {

  .feature-wrapper {
    width: 65%;
  }
}
