@import "./imports/common_styles.css";

/* main
--------------------*/
main {
  margin: 0 auto;
}

.main-container {
  background: url("../images/main_background_image-upto576px.jpg") no-repeat
    center center;
  background-size: cover;
  margin-top: 0;
  text-align: center;
  height: 620px;
  position: relative;
}

.main-heading {
  margin: 4rem 10% 0 10%;
  display: inline-block;
}

.main-heading-bg {
  background-color: white;
  margin-bottom: 1rem;
}

.main-heading p {
  display: block;
  text-align: right;
  color: var(--navy);
  padding: 0 1rem;
  margin-top: 0.5rem;
}

strong {
  text-transform: uppercase;
}

h1 {
  /* display: inline-block; */
  background-color: #feb41cbf;
  font-family: var(--adobe-caslon);
  font-size: 1.625rem;
  font-weight: 400;
  color: var(--black);
  display: inline-block;
  /* margin-top: 4rem;
  margin-bottom: 1rem; */
  margin: 0;
  padding: 1rem 2rem;
  box-shadow: 0 6px 12px #00000029;
}

.quote {
  margin: 0 auto;
  background-color: #00000066;
  color: var(--white);
  padding: 1rem;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}

.quote p {
  display: block;
  margin: 0 auto;
  font-family: var(--century-gothic);
  font-size: 1rem;
  font-style: italic;
}

.quote p:nth-child(1):before {
  content: "\201D";
  font-size: 2rem;
  font-weight: bold;
  padding-right: 0.25rem;
}

.quote p:nth-child(3) {
  font-style: normal;
  font-weight: bold;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

/* .content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
} */

.content-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* color: black; */
}

/* h2,
h3 {
  font-family: var(--century-gothic);
  color: var(--navy);
  font-size: 1.5rem;
  font-weight: 400;
} */

h4 {
  font-family: var(--futura);
  font-weight: 800;
  margin: 0;
  padding: 0 0 0.25rem 0;
  text-decoration: underline;
}

/* section.featured {
  margin: 0 auto;
} */

.featured:first-child {
  margin-top: 2rem;
}

.feature-wrapper {
  width: 100%;
  margin: 0 auto;
}

.feature-container {
  display: inline-block;
  width: 100%;
}

/* #feature-heading {
  font-size: 3rem;
} */

.feature-image {
  margin: 0;
  width: 100%;
  transition: opacity 0.5s;
}

.feature-image:hover {
  opacity: 0.9;
}

.feature-text {
  display: block;
  margin-top: 0;
  max-height: 260px;
  overflow: hidden;
}

.feature-text p {
  margin-top: 0;
  padding: 0;
}

.feature-text p:nth-child(2) {
  margin-bottom: 10rem;
}

.slideshow-wrapper {
  width: 100%;
}

.slideshow {
  /* height: 430px; */
  overflow: hidden;
}

.post-wrapper {
  height: 100%;
  width: 400%;
  transition: all 0.3s;
  display: flex;
}

.post-container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

#post-divider {
  border: none;
}

#heading-line {
  border: 1px solid #ccc;
}

.post-image {
  display: block;
  width: 306px;
  height: 204px;
  margin: 0;
  transition: opacity 0.5s;
}

.post-image:hover {
  opacity: 0.9;
}

.post-text {
  /* display: block;
  max-height: 150px;
  overflow: hidden;
  max-width: 306px;
  margin-bottom: 2rem; */
  display: none;
}

/* .post-text p {
  margin-top: 0;
  margin-bottom: 4rem;
  padding: 0;
} */

.post-link {
  text-align: center;
  margin: 6rem auto 3rem auto;
}

.arrow-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  /* background-color: pink; */
}

/* .arrow-wrapper div:nth-child(1) {
  flex: 1;
  margin-right: 10px;
}

.arrow-wrapper div:nth-child(5) {
  flex: 1;
  margin-left: 10px;
} */

/* .arrow-wrapper ul {
  display: flex;
  
  list-style: none;
} */

.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--navy);
  margin: 0;
  padding: 0;
  /* margin-right: 5px;
  margin-left: 5px; */
  cursor: pointer;
}

.selected {
  background-color: var(--navy);
}

.previous,
.next {
  cursor: pointer;
}

.fa-chevron-circle-left {
  font-size: 2rem;
  margin-right: 0.75rem;
  color: var(--navy);
}

.fa-chevron-circle-right {
  font-size: 2rem;
  margin-left: 0.75rem;
  color: var(--navy);
}

.line-left {
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(right, #ccc 0%, #ccc 25%, #fff 100%);
}

.line-right {
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(left, #ccc 0%, #ccc 75%, #fff 100%);
}

/* overrides common style */
#gradient-border:after {
  height: 0;
}

/* aside */


/* h5 {
  font-family: var(--century-gothic);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--light-blue);
  text-align: center;
  padding: 10px;
  margin: 2rem 0 1rem 0;
} */

/* styles that change
--------------------*/
@media only screen and (min-width: 360px) {
  .slideshow-wrapper {
    width: 306px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 576px) {
  .main-container {
    background-image: url("../images/main_background_image-upto768px.jpg");
    height: 954px;
  }

  .feature-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  /* .feature-image {
    width: 400px;
    height: 267px;
  } */

  .feature-text {
    max-height: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .main-container {
    background-image: url("../images/main_background_image-upto992px.jpg");
    height: 900px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .feature-wrapper {
    width: 85%;
    margin: 0 auto;
  }

  /* h2,
  h3 {
    font-size: 1.75rem;
  } */

  /* .feature-image {
    width: 524px;
    height: 349px;
  } */

  .feature-text {
    max-height: 180px;
  }

  .slideshow-wrapper {
    width: 100%;
  }

  .slideshow-container {
    /* width: 85%; */
    margin: 0 auto;
  }

  .arrow-wrapper {
    margin-top: 2rem;
  }

  /* .fa-chevron-circle-left {
    font-size: 2rem;
  }

  .fa-chevron-circle-right {
    font-size: 2rem;
  } */

  /* h5 {
    font-size: 1.25rem;
  } */
}

@media only screen and (min-width: 992px) {
  .main-container {
    background-image: url("../images/main_background_image-upto1200px.jpg");
    height: 660px;
  }

  .feature-wrapper {
    width: 70%;
  }

  .main-heading {
    margin-top: 6rem;
  }

  .slideshow-container {
    width: 90%;
  }

  .post-image {
    width: 360px;
    height: 240px;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    background-color: var(--light-grey);
  }

  .main-container {
    background-image: url("../images/main_background_image-upto1600px.jpg");
    height: 720px;
  }

  h1 {
    font-size: 3.75rem;
  }

  .main-heading p {
    font-size: 1.375rem;
  }

  .quote {
    bottom: 70px;
  }

  .quote p {
    font-size: 1.375rem;
  }

  .quote p:nth-child(1):before {
    font-size: 3rem;
  }

  .quote p:nth-child(3) {
    font-size: 1.25rem;
  }

  /* .content-wrapper {
    width: 90%;
    flex-direction: row;
    margin: 0 auto;
  } */

  .content-container {
    width: 66.66666667%;
  }

  /* h2,
  h3 {
    font-size: 2rem;
  } */

  h4 {
    font-size: 1.375rem;
  }

  .feature-wrapper {
    width: 85%;
  }

  .feature-text {
    font-size: 1.125rem;
    max-height: 220px;
  }

  .slideshow-container {
    width: 100%;
  }

  .post-image {
    width: 330px;
    height: 220px;
  }

  .post-heading {
    font-size: 1.25rem;
  }

  /*aside*/
  .aside-container:first-child {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1600px) {
  .main-container {
    background-image: url("../images/main_background_image-upto2560px.jpg");
    height: 965px;
  }

  .main-heading {
    margin-top: 8rem;
  }

  .content-container {
    width: 75%;
  }

  /* h2,
  h3 {
    font-size: 2.25rem;
  } */

  h4 {
    font-size: 1.5rem;
  }

  .feature-wrapper {
    width: 75%;
  }

  /* #featured-heading {
    font-size: 1.75rem;
  } */

  /* .feature-image {
    width: 720px;
    height: 480px;
  } */

  .feature-text {
    max-height: 180px;
  }

  /* .slideshow {
    height: 450px;
  } */

  .slideshow-container {
    width: 85%;
  }

  .post-image {
    width: 360px;
    height: 240px;
  }

  .post-heading {
    font-size: 1.375rem;
  }

  /* .post-text {
    max-width: 380px;
  } */

  /* .line-wrapper {
    width: 100%;
  } */
}

@media only screen and (min-width: 1900px) {
  .main-container {
    height: 1200px;
  }

  .feature-wrapper {
    width: 65%;
  }

  /* .slideshow {
    height: 560px;
  } */

  .slideshow-container {
    width: 100%;
  }

  .post-image {
    width: 524px;
    height: 349px;
  }

  .post-heading {
    font-size: 1.5rem;
  }
  
  /* .post-text {
    max-width: 524px;
    height: 100px;
  } */
}
