@import "imports/common_styles.css";


/* main
--------------------*/
.line-wrapper {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.line-wrapper div:nth-child(1) {
  /* background-color: blue; */
  margin-right: 10px;
  flex: 1;
}
.line-wrapper div:nth-child(3) {
  /* background-color: blue; */
  flex: 7;
  margin-left: 10px;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}
main {
  margin: 0 auto;
}
.main-container {
  background-image: url("../images/main_background_image_mobile.jpg");
  background-size: contain;
  margin-top: 0;
  text-align: center;
  height: 670px;
}
h1 {
  background-color: var(--gold);
  font-family: var(--adobe-caslon);
  width: 80%;
  font-size: 2rem;
  font-weight: 400;
  color: var(--black);
  display: inline-block;
  margin-top: 5rem;
  padding: 20px 30px;
}
.quote {
  margin-top: 300px;
}
.quote p {
  display: block;
  margin: 0 auto;
  font-family: var(--century-gothic);
  font-size: 1.125rem;
}
.quote p:nth-child(1):before {
  content: "\201D";
  font-size: 2rem;
}
.quote p:nth-child(3) {
  font-family: var(--adobe-caslon);
  font-style: italic;
  font-size: 1.125rem;
  margin-top: 10px;
}
.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.content-container {
  background-color: var(--white);
  color: var(--black);
  width: 85%;
  margin: 0 auto;
}
section {
  /* background-color: greenyellow; */
}
.feature-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.feature-image {
  margin: 0 16px 0 0;
  width: 306px;
  height: 188px;
}
.feature-image img {
  width: 306px;
  height: 188px;
}
.post-wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto;
  gap: 25px;
}
.post-text {
  margin-top: 0;
}
.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
.info-container {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
.info-container p {
  padding-right: 10px;
  color: #5e7c88;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
h2,
h3 {
  font-family: var(--century-gothic);
  font-size: 1.25rem;
  font-weight: 400;
}
h4 {
  font-family: var(--adobe-caslon);
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* background-color: aqua; */
}
.post-link {
  background-color: var(--gold);
  display: block;
  text-align: center;
  width: 50%;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 8px 12px;
}
.arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* background-color: greenyellow; */
}
.arrow-wrapper div:nth-child(1) {
  flex: 1;
  margin-right: 10px;
  /* background-color: hotpink; */
}
.arrow-wrapper div:nth-child(7) {
  flex: 1;
  margin-left: 10px;
}
/* .fas {
  color: var(--navy);
} */
.circle {
  /* background-color: var(--navy); */
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 3px solid var(--navy);
  margin-right: 5px;
  margin-left: 5px;
}
.fa-chevron-circle-left {
  margin-right: 1rem;
  color: var(--navy);
}
.fa-chevron-circle-right {
  margin-left: 1rem;
  color: var(--navy);
}

/* styles that change
--------------------*/

@media only screen and (max-width: 1200px) {
}
