@import "imports/common_styles.css";

/* main
--------------------*/
.breadcrumb {
  width: 85%;
  margin: 1rem auto;
  font-size: 0.875rem;
}
.arrow {
  color: black;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.current {
  font-weight: bold;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
}
section {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#first-post {
  margin-top: 0;
}
h1 {
  font-family: var(--century-gothic);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
}
h4 {
  font-family: var(--adobe-caslon);
  font-size: 1.25rem;
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* background-color: aqua; */
}
.line-wrapper {
  display: flex;
  align-items: center;
}
.line-wrapper div:nth-child(1) {
  /* background-color: blue; */
  margin-right: 10px;
  flex: 1;
}
.line-wrapper div:nth-child(3) {
  /* background-color: blue; */
  flex: 7;
  margin-left: 10px;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 100%;
}
.divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post-text {
  margin-top: 0;
  max-width: 300px;
}
.post-container {
  width: 100%;
}

.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
.info-container {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
.info-container p {
  padding-right: 10px;
  color: #5e7c88;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  .post-wrapper {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    gap: 25px;
    /* background-color: darkorange; */
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 85%;
    flex-direction: row;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
  section {
    flex: 2;
  }
}
@media only screen and (min-width: 1600px) {
  section {
    flex: 3;
  }
}
