@import "./imports/common_styles.css";

/* main
--------------------*/
main {
  background-color: var(--light-grey);
}

/* .content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
} */

/* .main-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
} */

/* h1 {
  font-family: var(--century-gothic);
  color: var(--black);
  font-size: 1.375rem;
  font-weight: 400;
} */

/* .line-wrapper {
  margin-left: 2rem;
  margin-right: 2rem;
} */

.post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  /* background-color: pink; */
}

.post-container {
  margin: 0 auto;
  display: none;
  padding-bottom: 1rem;
}

h2 {
  font-family: var(--futura);
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding: 0;
  text-decoration: underline;
}

.post-container:nth-child(1) {
  display: block;
}

.post-container:nth-child(2) {
  display: block;
}

.post-container:nth-child(3) {
  display: block;
}

.post-container:nth-child(4) {
  display: block;
}

.post-container:nth-child(5) {
  display: block;
}

.post-container:nth-child(6) {
  display: block;
}

.post-container:nth-child(7) {
  display: block;
}

.post-container:nth-child(8) {
  display: block;
}

.post-container:nth-child(9) {
  display: block;
}

.post-container:nth-child(10) {
  display: block;
}

.post-image {
  width: 100%;
  margin: 0;
  transition: opacity 0.5s;
  opacity: 1;
}

.post-image:hover {
  opacity: 0.9;
}

.post-text {
  margin-top: 0;
  height: 130px;
  overflow: hidden;
}

.post-text p {
  margin-top: 0;
  margin-bottom: 4rem;
  padding: 0;
}

#post-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* #load-button {
  margin-top: 1rem;
  margin-bottom: 120px;
} */

/* JS converted heading */
/* h3 {
  font-family: var(--century-gothic);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--light-blue);
  text-align: center;
  padding: 10px;
  margin: 2rem 0 1rem 0;
} */

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  /* .line-wrapper {
    margin-bottom: 1rem;
  } */

  /* h1 {
    font-size: 1.5rem;
  } */

  .post-wrapper {
    /* width: auto; */
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    gap: 2rem;
  }

  .post-container {
    margin: 0 auto 1rem auto;
  }

  .post-text {
    /* max-width: 306px; */
  }
}

/* JS converted heading */
/* h3 {
  font-size: 1.25rem;
} */

@media only screen and (min-width: 900px) {
  .post-wrapper {
    gap: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  /* h1 {
    font-size: 1.75rem;
  } */

  /* .content-wrapper {
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
  } */

  /* .main-section {
    flex: 2;
  } */

  h2 {
    font-size: 1.375rem;
  }

  .post-wrapper {
    width: 90%;
  }

  /* .post-container {
    margin-top: 1rem;
  } */
}

@media only screen and (min-width: 1600px) {
  /* h1 {
    font-size: 1.875rem;
  } */
  /* .content-wrapper {
    width: 90%;
  } */

  /* .main-section {
    flex: 3;
  } */

  /* .line-wrapper {
    width: 95%;
  } */

  h2 {
    font-size: 1.5rem;
  }

  .post-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  .post-image {
    max-width: 720px;
  }

  .post-text {
    max-width: 720px;
    height: 100px;
  }
}

@media only screen and (min-width: 1800px) {
  .post-wrapper {
    width: 90%;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    gap: 50px;
  }
}
