@import "./imports/common_styles.css";

/* main
--------------------*/
main {
  background-color: var(--light-grey);
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

.post-container {
  margin: 0 auto;
  display: none;
  padding-bottom: 1rem;
}

.post-container:nth-child(1) {
  display: block;
}

.post-container:nth-child(2) {
  display: block;
}

.post-container:nth-child(3) {
  display: block;
}

.post-container:nth-child(4) {
  display: block;
}

.post-container:nth-child(5) {
  display: block;
}

.post-container:nth-child(6) {
  display: block;
}

.post-container:nth-child(7) {
  display: block;
}

.post-container:nth-child(8) {
  display: block;
}

.post-container:nth-child(9) {
  display: block;
}

.post-container:nth-child(10) {
  display: block;
}

.post-image {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s;
  opacity: 1;
}

.post-image:hover {
  opacity: 0.9;
}

/* .post-text {
  margin-top: 0;
  height: 130px;
  overflow: hidden;
} */

.post-text p {
  margin: 0.25rem 0 1.5rem 0;
  padding: 0;
}

#post-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#load-button {
  display: flex;
  align-self: center;
  margin: 0 auto 6rem auto;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  
  .post-wrapper {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
  }

  .post-container {
    margin: 0 auto 1rem auto;
  }
}

@media only screen and (min-width: 900px) {
  .post-wrapper {
    gap: 1rem 3rem;
  }
}

@media only screen and (min-width: 1200px) {

  .post-wrapper {
    width: 90%;
  }
}

@media only screen and (min-width: 1600px) {

  /* .post-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  } */

  /* .post-image {
    max-width: 720px;
  } */

  /* .post-text {
    max-width: 720px;
    height: 100px;
  } */
}

