@import "./imports/common_styles.css";
/* main
--------------------*/
main {
  background-color: var(--light-grey);
}

/* .content-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
} */

.blog-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  padding-top: 2rem;
}

section a {
  margin-top: 1rem;
}

.post-title {
  font-family: var(--futura);
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.post-container {
  width: 100%;
  /* color: var(--black); */
  margin: 0 auto;
}

.post-image {
  width: 100%;
  margin: 0;
}

figcaption {
  font-size: 0.875rem;
  display: block;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-style: italic;
  text-align: right;
}

.post-text {
  min-width: 306px;
}

blockquote {
  font-family: var(--century-gothic);
  font-weight: 600;
  font-size: 1.125rem;
  font-style: italic;
  /* color: var(--navy); */
  border-left: 3px solid var(--light-blue);
  padding-left: 1rem;
  margin: 2rem 1rem 2rem 1rem;
}

h2,
h3 {
  font-family: var(--century-gothic);
  /* color: var(--black); */
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}

/* common styles override */
#gradient-border {
  border-bottom: none;
  position: relative;
}

#gradient-border:after {
  content: "";
  background: -webkit-linear-gradient(left, #ccc 0%, #ccc 50%, #fff 100%);
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.comments {
  margin-bottom: 4rem;
}

.comments-default {
  font-family: var(--open-sans);
  /* color: var(--navy); */
  display: block;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #d2d6d9cc;
}

.comment-container {
  display: flex;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #d2d6d999;
  padding: 2rem 1rem;
}

.comment-image {
  width: 75px;
  margin: 0 1rem 0 0;
}

/* modal */
#my-image {
  cursor: pointer;
  transition: opacity 0.5s;
}

#my-image:hover {
  opacity: 0.9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000e6;
  cursor: pointer;
}

.modal-content {
  margin: auto;
  display: block;
  width: 95%;
  height: auto;
  max-width: 1080px;
  max-height: 720px;
  z-index: 100;
  cursor: default;
}

#caption {
  margin: auto;
  display: block;
  width: 85%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#comment-line {
  margin-top: 2rem;
  margin-bottom: 0;
}

/* comment-form */
#comment-divider {
  margin-top: 3rem;
}

.leave-comment {
  background-color: var(--light-grey);
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

#comment-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.input-container:first-child {
  margin-top: 1.5rem;
}

.input-container label {
  font-size: 0.875rem;
}

.comment-input {
  color: var(--navy);
  padding: 0.5rem;
  border: 3px solid var(--light-blue);
  outline: none;
}

.comment-input:focus {
  border: 3px solid var(--gold);
}

#comment-author {
  padding: 0;
  margin: 0;
  font-size: 1.125rem;
  font-weight: bold;
}

#comment-text {
  padding: 0;
  margin: 0;
}

#comment-textarea {
  height: 150px;
  font-family: var(--open-sans);
  font-size: 1rem;
}

.comment-error {
  text-align: left;
  color: #be3e35;
  visibility: hidden;
}

.comment-error:before {
  content: "\002A";
}

#success-message {
  color: green;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
}

#success-message:before {
  content: "\2713";
  font-size: 1.5rem;
  margin-right: 3px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#comment-button {
  margin-top: 3rem;
}

/* JS converted heading */
/* h4 {
  font-family: var(--century-gothic);
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--light-blue);
  text-align: center;
  padding: 10px;
  margin: 32px 0 1rem 0;
} */

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  /* .blog-wrapper {
    width: 75%;
  } */

  section {
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
  }

  .post-image {
    width: 524px;
    height: 349px;
  }

  .post-title {
    font-size: 1.5rem;
  }

  .post-text {
    min-width: 524px;
  }

  figcaption {
    font-size: 1rem;
  }

  /* JS converted heading */
  /* h4 {
    font-size: 1.25rem;
  } */

  .modal-content {
    width: 85%;
  }
}

@media only screen and (min-width: 992px) {
  section {
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  /* .content-wrapper {
    width: 90%;
    flex-direction: row;
    margin: 0 auto;
  } */

  .blog-wrapper {
    flex: 2;
  }

  .post-image {
    width: 600px;
    height: 400px;
  }

  .post-text {
    font-size: 1.125rem;
  }

  blockquote {
    font-size: 1.25rem;
  }

  .modal {
    padding-top: 100px;
  }

  .close {
    margin-top: 15px;
  }

  .close i {
    font-size: 2rem;
  }

  #caption {
    font-size: 1.125rem;
  }

  .post-title {
    font-size: 1.75rem;
  }

  h2,
  h3 {
    font-size: 1.5rem;
  }

  .comments-default {
    font-size: 1.25rem;
  }

  .comment-image {
    width: 100px;
    margin: 0 1rem 0 0;
  }

  .input-container label {
    font-size: 1rem;
  }

  #comment-divider {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1600px) {
  .blog-wrapper {
    flex: 3;
  }

  section {
    width: 70%;
  }

  /* .line-wrapper {
    width: 100%;
  } */

  /* h1 {
    font-size: 1.875rem;
  } */

  .post-image {
    width: 720px;
    height: 480px;
  }

  .post-text {
    min-width: 720px;
  }

  .close {
    margin-right: 10%;
  }
}

@media only screen and (min-width: 1800px) {
  section {
    width: 70%;
    margin: 0 auto;
  }
}
