@import "imports/common_styles.css";

/* main
--------------------*/

.content-wrapper {
  display: flex;
  flex-direction: column;
}
.blog-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
}
section {
}
section a {
  margin-top: 2rem;
}
h1,
h3 {
  font-family: var(--century-gothic);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 400;
}
h2 {
  font-family: var(--adobe-caslon);
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
.post-container {
  width: 100%;
  color: var(--black);
}
.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
.info-container {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
.info-container p {
  padding-right: 10px;
  color: #5e7c88;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 100%;
}
.em {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
em {
  display: block;
  font-family: var(--adobe-caslon);
  font-size: 1.125rem;
  font-weight: 800;
  padding-left: 1rem;
  padding-right: 4rem;
}
figcaption {
  display: block;
  margin-bottom: 1rem;
}
.comments {
  margin-bottom: 2rem;
}
.comment-container {
  display: flex;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--light-grey);
  padding: 2rem 1rem;
}
.comment-image {
  width: 100px;
  margin: 0 1rem 0 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
  font-size: 1.125rem;
}
.comment-text {
  margin: 0;
}
#comment-line {
  margin-top: 2rem;
  margin-bottom: 0;
  /* background-color: blueviolet; */
}
/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  .blog-wrapper {
    width: 75%;
  }
  .post-image {
    width: 524px;
    height: 324px;
  }
  h1 {
    font-size: 1.375rem;
  }
  h2 {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 85%;
    flex-direction: row;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
  .blog-wrapper {
    flex: 2;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .info-container p {
    font-size: 1rem;
  }
  .post-text {
  }
}
@media only screen and (min-width: 1600px) {
  .blog-wrapper {
    flex: 3;
  }
  section {
    width: 70%;
    margin: 0 auto;
  }
  .line-wrapper {
    width: 100%;
  }
}
