@import "imports/common_styles.css";

/* main
--------------------*/
.breadcrumb {
  width: 85%;
  margin: 1rem auto;
  font-size: 0.875rem;
}
.arrow {
  color: black;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.current {
  font-weight: bold;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
}
section {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
section a {
  margin-top: 2rem;
}
h1 {
  font-family: var(--adobe-caslon);
  color: var(--black);
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.post-text {
}
.post-container {
  width: 100%;
  color: var(--black);
}
.post-image {
  width: 306px;
  height: 188px;
  margin: 0;
}
.info-container {
  display: flex;
  margin-bottom: 0;
  padding: 0;
}
.info-container p {
  padding-right: 10px;
  color: #5e7c88;
  font-size: 0.875rem;
  font-weight: 800;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
  width: 100%;
}
em {
  font-family: var(--century-gothic);
  font-weight: 500;
}
figcaption {
  display: block;
  margin-bottom: 1rem;
}

/* styles that change
--------------------*/
@media only screen and (min-width: 768px) {
  section {
    width: 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    width: 85%;
    flex-direction: row;
    margin: 0 auto;
    /* background-color: blueviolet; */
  }
  section {
    flex: 2;
    margin-right: 4rem;
  }
}
@media only screen and (min-width: 1600px) {
  section {
    flex: 3;
  }
}
